<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>list Books </h1>
<table border="1">
    <tr>
        <th>Title </th>
        <th>Category</th>
        <th>Publication date</th>
        <th>Published</th>
        <th>author_id</th>

    </tr>
    <tr>
    <tr> {% for b in publishedBooks %}</tr>
    <tr>
        <td>{{ b.title }}</td>
        <td>{{ b.category }}</td>
        <td>{{ b.publicationDate|date('Y-m-d')}}</td>
        <td>{{ b.published }}</td>
        <td>{{ b.author_id}}</td>
        <td>{{ b.author.username}}</td>

        <td><a href="{{ path('app_editBook', {'ref': b.ref}) }}">Edit</a></td>
        <td><a href="{{ path('app_deleteBook', {'id': b.ref}) }}">Delete</a></td>
        //ajouter lien show
        <td><a href="{{ path('app_detailBook', {'id': b.ref}) }}">Detail</a></td>

    </tr>
    {% endfor %}
    <p>Number of published books : {{ numPublishedBooks }}</p>
    <p>Number of unpublished books : {{ numUnpublishedBooks }}</p>
</table>
</body>
</html>